{% macro pagination(total, current, url, nearbyPagesLimit = 4) %}
    {% spaceless %}
        {% if total > 1 %}
            <ul class="pagination">
                {% for i in 1..total %}
                    {% if 0 == (current - nearbyPagesLimit) - loop.index %}
                        <li class="page-item"><a href="{{ (url ~ '&page='~ 1)|e }}" class="page-link">1</a></li>
                        {% if 1 != loop.index %}
                            <li class="page-item"><a href="javascript:void(0);" class="page-link"><span>…</span></a></li>
                        {% endif %}
                    {% elseif 0 == (current + nearbyPagesLimit) - loop.index  and (current + nearbyPagesLimit) < total %}
                        <li class="page-item"><a href="javascript:void(0);" class="page-link"><span>…</span></a></li>
                    {% elseif 0 < (current - nearbyPagesLimit) - loop.index %}
                    {% elseif 0 > (current + nearbyPagesLimit) - loop.index %}
                    {% else %}
                        <li class="page-item {{ current == loop.index ? 'active' }}">
                            {% if current == loop.index  %}
                                <a href="{{ url~ '&page=' ~ loop.index }}" class="page-link"><span>{{ loop.index }}</span></a>
                            {% else %}
                                <a href="{{ url~ '&page=' ~ loop.index }}" class="page-link">{{ loop.index }}</a>
                            {% endif %}
                        </li>
                    {% endif %}
                {% endfor %}
                {% if current != total  and (current + nearbyPagesLimit) < total %}
                    <li class="page-item"><a href="{{ (url~ '&page=' ~ total)|e }}" class="page-link">{{ total }}</a></li>
                {% endif %}
            </ul>
        {% endif %}
    {% endspaceless %}
{% endmacro %}