{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="mt-3">
            <h1>Тестовое задание</h1>

            <div class="mt-3">
                <div><a href="{{ path('admin') }}">Просмотр логов</a></div>
                <div><a href="{{ path('test') }}">Страница с JSON - без сохранения в базе</a></div>
                <div><a href="{{ path('test', {'save_log': 1}) }}">Страница с JSON - с сохранением в базе</a></div>

                <div class="mt-2">
                    *Логирование работает при включенном GET параметре save_log = 1<BR>
                    *Данные для авторизации: test / test
                </div>
            </div>
        </div>
    </div>

{% endblock %}