{% extends 'base.html.twig' %}

{% block body %}
    {% import '/global/pagination.html.twig' as pages %}
    <div class="p-3">
        <div class="mt-3">
            <h1>Просмотр логов</h1>

            <div class="mt-3">

                <form class="form-inline" method="GET">
                    <div class="form-group mb-2">
                        <label for="field_ip">Поиск по IP</label>
                    </div>
                    <div class="form-group mx-sm-3 mb-2">
                        <input type="text" class="form-control" name="ip" id="field_ip" placeholder="127.0.0.1" value="{{ ip }}">
                    </div>
                    <button type="submit" class="btn btn-success mb-2">Искать</button>
                </form>
            </div>

            <div class="mt-2">
                <table class="table admin-log">
                    <thead>
                        <tr>
                            <th>Время</th>
                            <th>URL</th>
                            <th>Код ответа</th>
                            <th>Метод</th>
                            <th>IP</th>
                            <th>Заголовок запроса</th>
                            <th>Тело запроса</th>
                            <th>Заголовок ответа</th>
                            <th>Тело ответа</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for log in data.results %}
                        <tr>
                            <th scope="row">{{ log.time|date("d.m.Y H:i:s") }}</th>
                            <td>{{ log.uri }}</td>
                            <td>{{ log.response_code }}</td>
                            <td>{{ log.method }}</td>
                            <td>{{ log.IP }}</td>
                            <td class="limit-size"><div>{{ log.request_headers|nl2br }}</div></td>
                            <td class="limit-size"><div>{{ log.request_content }}</div></td>
                            <td class="limit-size"><div>{{ log.response_headers|nl2br }}</div></td>
                            <td class="limit-size"><div>{{ log.response_content|nl2br }}</div></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="mt-2">
                {{ pages.pagination((data.count / data.limit)|round(0, 'ceil'), page, path('admin', {'ip' : ip}) ) }}
            </div>
        </div>
    </div>
{% endblock %}



