<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% if document.title is defined %}{{ document.title }}{% else %}Тестовое задание{% endif %}</title>

        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/custom.css" rel="stylesheet">
    </head>
    <body>

            {% block body %}{% endblock %}
        </div>
    </body>
</html>
